.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1200;
    transform: translate(-50%, -50%);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 40%;
    width: 25%;
    padding: 40px;

    background-color: #fff;
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__auth {
        height: 30%;
    }

    &__form-field {
        position: relative;

        display: flex;
        flex-direction: column;

        margin-top: 5px;

        label {
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;

            color: black;
        }

        input {
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding: 11px;
            cursor: pointer;
            padding-left: 15px;

            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:focus {
                outline: none;
                border-color: skyblue;
                cursor: text;
            }
        }
    }

    &__btn {
        display: block;
        border: none;
        width: 100px;
        background: lightgray;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);

        border-radius: 4px;

        padding: 3px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;

        font-weight: bold;
        font-size: 12px;
        line-height: 1.875;
        letter-spacing: 0.06em;

        color: black;

        &:hover {
            background-color: #fff;

            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__form-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 4px;

        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        height: 100%;
        line-height: 1.5;
        border-radius: 4px;
        resize: none;
        margin-bottom: 12px;
        padding: 5px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        cursor: pointer;

        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:focus {
            outline: none;
            border-color: skyblue;
            cursor: text;
        }
    }
}

.popup__news {
    &-title {
        margin-bottom: 5px;
        padding: 5px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        cursor: pointer;

        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:focus {
            outline: none;
            border-color: skyblue;
            cursor: text;
        }
    }
    & label {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
}

.popup__logout {
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    &-name {
        margin-left: 3px;
    }
}
