header {
    border-bottom: 1px solid gray;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 10px;
    margin-left: 10px;
}

.header__item {
    color: black;
}

.header__activeNavLink {
    color: red;
}
