@import 'normalize.css';
@import './variable';
@import './components/app';

@import './components//MainPage/main-page';
@import './components/Header/header';
@import './components/PopUp/pop-up';
@import './components/News/news';
@import './components//Filter/filter';

body {
    margin: 0;

    font-family: 'Montserrat';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
        'Courier New', monospace;
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
